**/.gradle
**/build
**/bin
**/out
**/.idea
**/.vscode
**/.localdb
.git
.github
docs
frontend
node_modules
**/node_modules
*.log
*.swp
.env
.env.local
gradle-app.setting
!**/src/main/resources/application*.yml
!**/src/main/resources/application*.properties
